In [1]:
import sqlalchemy as sq
host = "176.9.22.205"
host_user = "abtk"
host_password = "Jjh83l5~"
host_db = "system_one";
#mysql -h 176.9.22.205 -u abtk -pJjh83l5~ system_one

q = "mysql+pymysql://abtk:Jjh83l5~@176.9.22.205:3306/system_one"

e = sq.create_engine(q, echo = True)

In [2]:
conn = e.connect()

2015-05-19 14:56:36,609 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'

INFO:sqlalchemy.engine.base.Engine:SHOW VARIABLES LIKE 'sql_mode'

2015-05-19 14:56:36,610 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-05-19 14:56:36,622 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()

INFO:sqlalchemy.engine.base.Engine:SELECT DATABASE()

2015-05-19 14:56:36,624 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-05-19 14:56:36,645 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'

INFO:sqlalchemy.engine.base.Engine:show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'

2015-05-19 14:56:36,646 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-05-19 14:56:36,658 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1

2015-05-19 14:56:36,659 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-05-19 14:56:36,670 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1

2015-05-19 14:56:36,671 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-05-19 14:56:36,687 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1

2015-05-19 14:56:36,688 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [3]:
from sqlalchemy.ext.declarative import declarative_base

In [4]:
Base = declarative_base()

In [5]:
from sqlalchemy import Column, Integer, String
class vr_user(Base):
    __tablename__ = "vr_users"
    
    id = Column(Integer, primary_key=True)
    prename = Column(String(100))
    surname = Column(String(100))
    twittername = Column(String(100))
    password = Column(String(100))
    
    def __repr__(self):
        return "<User(prename = '%s', surname = '%s', twittername = '%s', password = '%s')>" % (self.prename, self.surname, self.twittername, self.password)

In [6]:
vr_user.__table__

Table('vr_users', MetaData(bind=None), Column('id', Integer(), table=<vr_users>, primary_key=True, nullable=False), Column('prename', String(length=100), table=<vr_users>), Column('surname', String(length=100), table=<vr_users>), Column('twittername', String(length=100), table=<vr_users>), Column('password', String(length=100), table=<vr_users>), schema=None)

In [7]:
Base.metadata.create_all(e)

2015-05-19 14:56:54,615 INFO sqlalchemy.engine.base.Engine DESCRIBE `vr_users`

INFO:sqlalchemy.engine.base.Engine:DESCRIBE `vr_users`

2015-05-19 14:56:54,616 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-05-19 14:56:54,627 INFO sqlalchemy.engine.base.Engine ROLLBACK

INFO:sqlalchemy.engine.base.Engine:ROLLBACK

2015-05-19 14:56:54,640 INFO sqlalchemy.engine.base.Engine
CREATE TABLE vr_users (
	id INTEGER NOT NULL AUTO_INCREMENT,
	prename VARCHAR(100),
	surname VARCHAR(100),
	twittername VARCHAR(100),
	password VARCHAR(100),
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE vr_users (
	id INTEGER NOT NULL AUTO_INCREMENT,
	prename VARCHAR(100),
	surname VARCHAR(100),
	twittername VARCHAR(100),
	password VARCHAR(100),
	PRIMARY KEY (id)
)

2015-05-19 14:56:54,641 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-05-19 14:56:54,812 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT